# Analyse Exploratoire des Données Filtrées

Ce Notebook contient une analyse exploratoire des données après la phase de pré-filtration (`filtered_data`).

Nous allons examiner les caractéristiques principales des données, visualiser les répartitions et identifier les tendances pertinentes.

In [1]:
# Importer les bibliothèques nécessaires
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Définir le chemin du fichier filtered_data\n",
filtered_data_path = '../data/processed/filtered_data.csv'

# Charger filtered_data\n",
filtered_data = pd.read_csv(filtered_data_path)
filtered_data.head()

,DATE_OF_THE_DAY,SIM_NUMBER,HAS_USED_MOB_MONEY_IN_LAST_30_DAYS,HAS_USED_MOB_MONEY_IN_LAST_7_DAYS,HAS_USED_MOB_MONEY_IN_LAST_90_DAYS,PAID_DATA_VOLUME,PAID_VOICE_TRAFFIC,HAS_USED_MOB_MONEY_IN_LAST_1_DAY,VOICE_REVENUE,DATA_REVENUE,...,MOB_MONEY_ACCOUNT_AMOUNT,TOTAL_LOADING_MONEY_IN_MOB_MONEY,TOTAL_CASHOUT_MOB_MONEY_ACCOUNT,TOTAL_CASHOUT_MOB_MONEY_FOR_package_PURCHASE,TOTAL_CASHOUT_MOB_MONEY_TRANSFER_MONEY,REGISTRATION_STATUS,age,REGION,tenure_years,CUST_CATEGORY
0,20230611,C1850294050,0,1,1,3706.35,1659.10,0,21.69,234.05,...,2271.72,4301.19,3585.92,751.03,1908.14,Accepted,24,North Carolina,2,Individual
1,20231126,C595637913,0,0,1,4880.26,1048.14,1,378.45,249.52,...,3864.02,1237.83,3728.63,65.83,1876.37,Accepted,39,Massachusetts,2,Business
2,20231003,C2042071881,0,0,1,3921.84,435.21,1,138.18,212.46,...,6830.17,3244.30,4065.26,1026.08,2432.22,Accepted,32,Rhode Island,2,Business
3,20230603,C1204243390,1,1,1,859.06,202.53,0,62.00,198.69,...,7976.33,2088.51,86.18,34.68,1781.22,Accepted,56,Tennessee,2,Business
4,20230820,C1042289586,1,0,1,4801.45,811.32,0,333.89,200.84,...,1593.63,3995.28,4819.40,727.44,198.27,Accepted,36,Idaho,2,Business

In [3]:
# Afficher les informations générales\n",
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351575 entries, 0 to 351574
Data columns (total 84 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   DATE_OF_THE_DAY                               351575 non-null  int64
 1   SIM_NUMBER                                    351575 non-null  object
 2   HAS_USED_MOB_MONEY_IN_LAST_30_DAYS            351575 non-null  int64
 3   HAS_USED_MOB_MONEY_IN_LAST_7_DAYS             351575 non-null  int64
 4   HAS_USED_MOB_MONEY_IN_LAST_90_DAYS            351575 non-null  int64
 5   PAID_DATA_VOLUME                              351575 non-null  float64
 6   PAID_VOICE_TRAFFIC                            351575 non-null  float64
 7   HAS_USED_MOB_MONEY_IN_LAST_1_DAY              351575 non-null  int64
 8   VOICE_REVENUE                                 351575 non-null  float64
 9   DATA_REVENUE                                  351575 non-null  float64
 10  SMS_REVENUE                                   351575 non-null  float64
 11  DIGITAL_REVENUE                               351575 non-null  float64
 12  MOB_MONEY_REVENUE                             351575 non-null  float64
 13  FREE_VOICE_TRAFFIC                            351575 non-null  float64
 14  FREE_DATA_VOLUME                              351575 non-null  float64
 15  VOICE_TRAFFIC_ONNET                           351575 non-null  float64
 16  VOICE_TRAFFIC_OFFNET                          351575 non-null  float64
 17  NB_CALLS_EMITTED_ONNET                        351575 non-null  int64
 18  NB_CALLS_RECEIVED_ONNET                       351575 non-null  int64
 19  NB_CALLS_EMITTED_OFFNET                       351575 non-null  int64
 20  NB_CALLS_RECEIVED_OFFNET                      351575 non-null  int64
 21  IS_RGS_1                                      351575 non-null  int64
 22  IS_RGS_7                                      351575 non-null  int64
 23  IS_RGS_30                                     351575 non-null  int64
 24  IS_RGS_90                                     351575 non-null  int64
 25  NB_CALLS_EMITTED_INTERNATIONAL                351575 non-null  int64
 26  NB_CALLS_RECEIVED_INTERNATIONAL               351575 non-null  int64
 27  VOICE_OUTGOING_TRAFFIC_INTERNATIONAL          351575 non-null  float64
 28  VOICE_INCOMING_TRAFFIC_INTERNATIONAL          351575 non-null  float64
 29  VOICE_OUTGOING_TRAFFIC_ONNET                  351575 non-null  float64
 30  VOICE_INCOMING_TRAFFIC_ONNET                  351575 non-null  float64
 31  VOICE_OUTGOING_TRAFFIC_OFFNET                 351575 non-null  float64
 32  VOICE_INCOMING_TRAFFIC_OFFNET                 351575 non-null  float64
 33  NB_VOICE_PACKAGES_SUBSCRIPTIONS               351575 non-null  int64
 34  NB_DATA_PACKAGES_SUBSCRIPTIONS                351575 non-null  int64
 35  VOICE_PACKAGES_REVENUE                        351575 non-null  float64
 36  NB_SMS_SENT_ONNET                             351575 non-null  int64
 37  NB_SMS_SENT_OFFNET                            351575 non-null  int64
 38  NB_SMS_RECEIVED_ONNET                         351575 non-null  int64
 39  NB_SMS_RECEIVED_OFFNET                        351575 non-null  int64
 40  NB_SMS_SENT_INTERNATIONAL                     351575 non-null  int64
 41  NB_SMS_RECEIVED_INTERNATIONAL                 351575 non-null  int64
 42  NB_SMS_PACKAGES_SUBSCRIPTIONS                 351575 non-null  int64
 43  SMS_PACKAGE_REVENUE                           351575 non-null  float64
 44  NB_VOICE_PACKAGES_SUBS_VIA_MOB_MONEY          351575 non-null  int64
 45  NB_VOICE_PACKAGES_SUBS_VIA_POS                351575 non-null  int64
 46  NB_VOICE_PACKAGES_SUBS_VIA_MAIN_ACCOUNT       351575 non-null  int64
 47  NB_DATA_package_SUBS_VIA_MOB_MONEY            351575 non-null  int64
 48  NB_DATA_package_SUBS_VIA_POS                  351575 non-null  int64
 49  NB_DATA_package_SUBS_VIA_MAIN_ACCOUNT         351575 non-null  int64
 50  NB_SMS_package_SUBS_VIA_MOB_MONEY             351575 non-null  int64
 51  NB_SMS_package_SUBS_VIA_POS                   351575 non-null  int64
 52  NB_SMS_package_SUBS_VIA_MAIN_ACCOUNT          351575 non-null  int64
 53  NB_MIXED_package_SUBS_VIA_MOB_MONEY           351575 non-null  int64
 54  NB_MIXED_package_SUBS_VIA_POS                 351575 non-null  int64
 55  NB_MIXED_package_SUBS_VIA_MAIN_ACCOUNT        351575 non-null  int64
 56  IS_SMARTPHONE_USER                            351575 non-null  int64
 57  LAST_EVENT_DATE                               351575 non-null  object
 58  LAST_EVENT_TYPE                               351575 non-null  object
 59  IS_DATA_RGS1                                  351575 non-null  int64
 60  IS_DATA_RGS7                                  351575 non-null  int64
 61  IS_DATA_RGS30                                 351575 non-null  int64
 62  IS_DATA_RGS90                                 351575 non-null  int64
 63  MAIN_ACCOUNT_AMOUNT                           351575 non-null  float64
 64  EXTRA_TIME_LOAN_AMOUNT_RENT                   351575 non-null  float64
 65  EXTRA_TIME_LOAN_AMOUNT_TO_PAY_BACK            351575 non-null  float64
 66  REFILL_MAIN_AMOUNT                            351575 non-null  float64
 67  REFILL_mobile_money_ACCOUNT                   351575 non-null  float64
 68  TOTAL_SPENT_MAIN_ACCOUNT                      351575 non-null  float64
 69  TOTAL_SPENT_MOB_MONEY_ACCOUNT                 351575 non-null  float64
 70  NB_package_GIFTS_SENT                         351575 non-null  int64
 71  NB_package_GIFTS_RECEIVED                     351575 non-null  int64
 72  AMOUNT_package_GIFTS_SENT                     351575 non-null  float64
 73  AMOUNT_package_GIFTS_RECEIVED                 351575 non-null  float64
 74  MOB_MONEY_ACCOUNT_AMOUNT                      351575 non-null  float64
 75  TOTAL_LOADING_MONEY_IN_MOB_MONEY              351575 non-null  float64
 76  TOTAL_CASHOUT_MOB_MONEY_ACCOUNT               351575 non-null  float64
 77  TOTAL_CASHOUT_MOB_MONEY_FOR_package_PURCHASE  351575 non-null  float64
 78  TOTAL_CASHOUT_MOB_MONEY_TRANSFER_MONEY        351575 non-null  float64
 79  REGISTRATION_STATUS                           351575 non-null  object
 80  age                                           351575 non-null  int64
 81  REGION                                        351575 non-null  object
 82  tenure_years                                  351575 non-null  int64
 83  CUST_CATEGORY                                 351575 non-null  object
dtypes: float64(33), int64(45), object(6)
memory usage: 225.3+ MB

In [6]:
# Afficher les colonnes commençant par 'TOTAL'
total_columns = [col for col in filtered_data.columns if col.startswith('TOTAL')]
print("Colonnes commençant par 'TOTAL':")
print(total_columns)

Colonnes commençant par 'TOTAL':
['TOTAL_SPENT_MAIN_ACCOUNT', 'TOTAL_SPENT_MOB_MONEY_ACCOUNT', 'TOTAL_LOADING_MONEY_IN_MOB_MONEY', 'TOTAL_CASHOUT_MOB_MONEY_ACCOUNT', 'TOTAL_CASHOUT_MOB_MONEY_FOR_package_PURCHASE', 'TOTAL_CASHOUT_MOB_MONEY_TRANSFER_MONEY']