# Analyse Exploratoire des Données Fusionnées

Ce Notebook contient l'analyse exploratoire des données issues de la fusion (`merged_data`).

Nous allons examiner la structure des données, identifier les colonnes importantes, détecter les valeurs manquantes, et visualiser les caractéristiques principales.

In [1]:
# Importer les bibliothèques nécessaires
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Définir le chemin du fichier merged_data\n",
merged_data_path = '../data/processed/merged_data.csv'

# Charger merged_data,
merged_data = pd.read_csv(merged_data_path)
merged_data.head()

,DATE_OF_THE_DAY,SIM_NUMBER,HAS_USED_MOB_MONEY_IN_LAST_30_DAYS,HAS_USED_MOB_MONEY_IN_LAST_7_DAYS,HAS_USED_MOB_MONEY_IN_LAST_90_DAYS,PAID_DATA_VOLUME,PAID_VOICE_TRAFFIC,HAS_USED_MOB_MONEY_IN_LAST_1_DAY,VOICE_REVENUE,DATA_REVENUE,...,MOB_MONEY_ACCOUNT_AMOUNT,TOTAL_LOADING_MONEY_IN_MOB_MONEY,TOTAL_CASHOUT_MOB_MONEY_ACCOUNT,TOTAL_CASHOUT_MOB_MONEY_FOR_package_PURCHASE,TOTAL_CASHOUT_MOB_MONEY_TRANSFER_MONEY,REGISTRATION_STATUS,age,REGION,tenure_years,CUST_CATEGORY
0,20230405,C242307473,1,0,0,4136.72,1053.62,1,31.00,60.01,...,1614.32,2866.61,4768.26,1684.33,178.67,Accepted,56,South Carolina,2,Business
1,20230110,C179777096,1,1,1,181.43,606.39,1,210.78,157.89,...,7825.03,1692.51,4661.81,352.01,1407.05,Not Accepted,39,Arizona,2,Business
2,20230611,C1850294050,0,1,1,3706.35,1659.10,0,21.69,234.05,...,2271.72,4301.19,3585.92,751.03,1908.14,Accepted,24,North Carolina,2,Individual
3,20230908,C1638970953,0,0,1,4907.27,586.35,0,177.02,296.47,...,3855.10,4200.82,2538.85,259.59,2495.79,Not Accepted,33,Maine,2,Individual
4,20240201,C1252008178,0,0,0,3793.25,159.24,0,375.73,269.30,...,733.27,3521.96,3619.66,1971.30,682.18,Not Accepted,36,Louisiana,2,Individual

In [6]:
# Afficher les informations générales
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648080 entries, 0 to 1648079
Data columns (total 84 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   DATE_OF_THE_DAY                               1648080 non-null  int64
 1   SIM_NUMBER                                    1648080 non-null  object
 2   HAS_USED_MOB_MONEY_IN_LAST_30_DAYS            1648080 non-null  int64
 3   HAS_USED_MOB_MONEY_IN_LAST_7_DAYS             1648080 non-null  int64
 4   HAS_USED_MOB_MONEY_IN_LAST_90_DAYS            1648080 non-null  int64
 5   PAID_DATA_VOLUME                              1648080 non-null  float64
 6   PAID_VOICE_TRAFFIC                            1648080 non-null  float64
 7   HAS_USED_MOB_MONEY_IN_LAST_1_DAY              1648080 non-null  int64
 8   VOICE_REVENUE                                 1648080 non-null  float64
 9   DATA_REVENUE                                  1648080 non-null  float64
 10  SMS_REVENUE                                   1648080 non-null  float64
 11  DIGITAL_REVENUE                               1648080 non-null  float64
 12  MOB_MONEY_REVENUE                             1648080 non-null  float64
 13  FREE_VOICE_TRAFFIC                            1648080 non-null  float64
 14  FREE_DATA_VOLUME                              1648080 non-null  float64
 15  VOICE_TRAFFIC_ONNET                           1648080 non-null  float64
 16  VOICE_TRAFFIC_OFFNET                          1648080 non-null  float64
 17  NB_CALLS_EMITTED_ONNET                        1648080 non-null  int64
 18  NB_CALLS_RECEIVED_ONNET                       1648080 non-null  int64
 19  NB_CALLS_EMITTED_OFFNET                       1648080 non-null  int64
 20  NB_CALLS_RECEIVED_OFFNET                      1648080 non-null  int64
 21  IS_RGS_1                                      1648080 non-null  int64
 22  IS_RGS_7                                      1648080 non-null  int64
 23  IS_RGS_30                                     1648080 non-null  int64
 24  IS_RGS_90                                     1648080 non-null  int64
 25  NB_CALLS_EMITTED_INTERNATIONAL                1648080 non-null  int64
 26  NB_CALLS_RECEIVED_INTERNATIONAL               1648080 non-null  int64
 27  VOICE_OUTGOING_TRAFFIC_INTERNATIONAL          1648080 non-null  float64
 28  VOICE_INCOMING_TRAFFIC_INTERNATIONAL          1648080 non-null  float64
 29  VOICE_OUTGOING_TRAFFIC_ONNET                  1648080 non-null  float64
 30  VOICE_INCOMING_TRAFFIC_ONNET                  1648080 non-null  float64
 31  VOICE_OUTGOING_TRAFFIC_OFFNET                 1648080 non-null  float64
 32  VOICE_INCOMING_TRAFFIC_OFFNET                 1648080 non-null  float64
 33  NB_VOICE_PACKAGES_SUBSCRIPTIONS               1648080 non-null  int64
 34  NB_DATA_PACKAGES_SUBSCRIPTIONS                1648080 non-null  int64
 35  VOICE_PACKAGES_REVENUE                        1648080 non-null  float64
 36  NB_SMS_SENT_ONNET                             1648080 non-null  int64
 37  NB_SMS_SENT_OFFNET                            1648080 non-null  int64
 38  NB_SMS_RECEIVED_ONNET                         1648080 non-null  int64
 39  NB_SMS_RECEIVED_OFFNET                        1648080 non-null  int64
 40  NB_SMS_SENT_INTERNATIONAL                     1648080 non-null  int64
 41  NB_SMS_RECEIVED_INTERNATIONAL                 1648080 non-null  int64
 42  NB_SMS_PACKAGES_SUBSCRIPTIONS                 1648080 non-null  int64
 43  SMS_PACKAGE_REVENUE                           1648080 non-null  float64
 44  NB_VOICE_PACKAGES_SUBS_VIA_MOB_MONEY          1648080 non-null  int64
 45  NB_VOICE_PACKAGES_SUBS_VIA_POS                1648080 non-null  int64
 46  NB_VOICE_PACKAGES_SUBS_VIA_MAIN_ACCOUNT       1648080 non-null  int64
 47  NB_DATA_package_SUBS_VIA_MOB_MONEY            1648080 non-null  int64
 48  NB_DATA_package_SUBS_VIA_POS                  1648080 non-null  int64
 49  NB_DATA_package_SUBS_VIA_MAIN_ACCOUNT         1648080 non-null  int64
 50  NB_SMS_package_SUBS_VIA_MOB_MONEY             1648080 non-null  int64
 51  NB_SMS_package_SUBS_VIA_POS                   1648080 non-null  int64
 52  NB_SMS_package_SUBS_VIA_MAIN_ACCOUNT          1648080 non-null  int64
 53  NB_MIXED_package_SUBS_VIA_MOB_MONEY           1648080 non-null  int64
 54  NB_MIXED_package_SUBS_VIA_POS                 1648080 non-null  int64
 55  NB_MIXED_package_SUBS_VIA_MAIN_ACCOUNT        1648080 non-null  int64
 56  IS_SMARTPHONE_USER                            1648080 non-null  int64
 57  LAST_EVENT_DATE                               1648080 non-null  object
 58  LAST_EVENT_TYPE                               1648080 non-null  object
 59  IS_DATA_RGS1                                  1648080 non-null  int64
 60  IS_DATA_RGS7                                  1648080 non-null  int64
 61  IS_DATA_RGS30                                 1648080 non-null  int64
 62  IS_DATA_RGS90                                 1648080 non-null  int64
 63  MAIN_ACCOUNT_AMOUNT                           1648080 non-null  float64
 64  EXTRA_TIME_LOAN_AMOUNT_RENT                   1648080 non-null  float64
 65  EXTRA_TIME_LOAN_AMOUNT_TO_PAY_BACK            1648080 non-null  float64
 66  REFILL_MAIN_AMOUNT                            1648080 non-null  float64
 67  REFILL_mobile_money_ACCOUNT                   1648080 non-null  float64
 68  TOTAL_SPENT_MAIN_ACCOUNT                      1648080 non-null  float64
 69  TOTAL_SPENT_MOB_MONEY_ACCOUNT                 1648080 non-null  float64
 70  NB_package_GIFTS_SENT                         1648080 non-null  int64
 71  NB_package_GIFTS_RECEIVED                     1648080 non-null  int64
 72  AMOUNT_package_GIFTS_SENT                     1648080 non-null  float64
 73  AMOUNT_package_GIFTS_RECEIVED                 1648080 non-null  float64
 74  MOB_MONEY_ACCOUNT_AMOUNT                      1648080 non-null  float64
 75  TOTAL_LOADING_MONEY_IN_MOB_MONEY              1648080 non-null  float64
 76  TOTAL_CASHOUT_MOB_MONEY_ACCOUNT               1648080 non-null  float64
 77  TOTAL_CASHOUT_MOB_MONEY_FOR_package_PURCHASE  1648080 non-null  float64
 78  TOTAL_CASHOUT_MOB_MONEY_TRANSFER_MONEY        1648080 non-null  float64
 79  REGISTRATION_STATUS                           1648080 non-null  object
 80  age                                           1648080 non-null  int64
 81  REGION                                        1648080 non-null  object
 82  tenure_years                                  1648080 non-null  int64
 83  CUST_CATEGORY                                 1648080 non-null  object
dtypes: float64(33), int64(45), object(6)
memory usage: 1.0+ GB